
body {
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
 
}

.container{
  background: url(../public/img/background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
}